@model IPagedList<Incedo_Octavius_Demo_2.Models.BusinessUserSpecialtyModel>

@{
    ViewBag.Title = "Index";
}
@using PagedList.Mvc;
@using PagedList;



@{
    Html.RenderPartial("_MapBU");
}

<h2>Speciality Business Rules</h2>
<br/>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().SpecialtyMap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SpecialtyMaster)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialtyMap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialtyMaster)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MapID }) |
                @*@Html.ActionLink("Details", "Details", new { id=item.MapID }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.MapID })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, i => Url.Action("Index", "BusinessUserSpecialtyModels", new { i, search = Request.QueryString["search"] }))
